<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        tools:node="remove" />

    <application
        android:name=".HTTPSBase"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/epi_check_round_big"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/epi_check_round_big"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFond"
        tools:targetApi="32">
        <activity
            android:name=".NoConnectActivity"
            android:exported="false" />
        <activity
            android:name=".EditNameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditCityActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" /> <!-- Добавлены метаданные для Google Sign-In API -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.GOOGLE_SIGN_IN_API"
            android:value="@string/default_web_client_id" />
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />

        <activity
            android:name=".FeedBackActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EventDialogFragment"
            android:theme="@style/Theme.AppFond"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".BlogActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TempActivity"
            android:exported="false" />
        <activity
            android:name=".NoCardActivity"
            android:exported="false"
            android:theme="@style/Theme.AppFond" />
        <activity
            android:name=".UnLoginProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".UnLoginProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_un_login_profile"
            android:theme="@style/Theme.AppFond"
            tools:ignore="MissingClass" />
        <activity
            android:name=".NewTeraphyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".SplashActivity" />
        <activity
            android:name=".TeraphyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".PDFViewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HistoryEpisodeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FixEpisodeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewCardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ChangePwdActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewPost"
            android:exported="false"
            android:parentActivityName=".BlogActivity" />
        <activity
            android:name=".NewPostActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SetupActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>